.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8888f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  height: 6em;
}

.FAQ-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #007bff;
  color: #000000;
  z-index: 1000;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.pdf-document-container {
  max-height: 80vh;
  overflow-y: auto;
  height: 100%;
}

.pdf-document-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}

@media (max-width: 768px) {
  .pdf-document-page {
    flex-direction: column;
    margin: 0.5em;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
